
@layer components {
    .sidebar {
        transition: all 0.4s ease-in-out;
    }
}
.sidebar:hover{
    flex: 1;
}
body{
    font-family: "Roboto Mono", monospace;
}

.flex-container {
    display: flex;
}

