/*----------- Main ---------*/

@layer components {
    .sidebar {
        transition: all 0.4s ease-in-out;
    }
}
.sidebar:hover{
    flex: 1;
}

.flex-container {
    display: flex;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --global-background-color: #1a1b77;
    --link-background-color: #DA0037;
    --global-text-color: #66fcfb ;
    --global-text-color1: #000000 ;
    --text-hover-color: #444444;
    --gray-color: rgba(255,255,255,0.1);
    
}

html{
    background-color: var(--global-background-color1);
    color: var(--global-text-color);

}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}

a:hover{
    color: var(--text-hover-color);
}

input{
    width: 70%;
    margin: 10px auto;
    padding: 5px;
    border: none;
}

input:focus{
    border: solid 1px var(--link-background-color);
}

/*-------------- header ------------*/

header{
    background-color: var(--global-background-color);
    box-shadow: 0 10px 15px -3px var(--gray-color);
}


header nav{
    background-color: var(--global-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
}

header nav div{
    background-color: var(--global-background-color);
    text-decoration: none;
    cursor: pointer;
    color: var(--global-text-color);
}

header nav ul{
    background-color: var(--global-background-color);
    list-style-type: none;
    display: inline-flex;
    color: var(--global-text-color);
}

header nav ul li{
    background-color: var(--global-background-color);
    margin: 5px;
}

@media screen and (max-width: 640px){
    header nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand{
        margin-bottom: 30px;
    }
}

/*---------- Body ----------*/
body div{
    background-color: var(--global-background-color1);
    color: var(--global-text-color1);
    font-family: "Roboto Mono";
    
}

j{
    color: var(--global-text-color1);
    text-align: center;
    background-color: var(--global-background-color1);
}

/*---------- footer ----------*/

footer{
    background-color: var(--global-background-color);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    width: 100%;
    box-shadow: 0 10px 0 15px var(--gray-color);
}


