/* SIDEBAR  */
@layer components {
    .sidebar {
        width: 200px; 
        transition: width 0.4s ease-in-out;
    }
}

.sidebar:hover {
    width: 300px; 
}

body {
    font-family: "Roboto Mono", monospace;
}

.flex-container {
    display: flex;
}

.text-gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, #1A1B77, #69B9DE);
}

.main-content {
    flex: 3;
    margin-left: 40px; 
}
